@import "../util/variables";

.container {
  &-home {
    padding: 1.5%;
  }

  &-main,
  &-mockup {
    background-color: $white;
    border: 1px solid $borders;
    border-radius: 1.25rem;
  }

  &-mockup {
    padding: 10vh 9vw;
  }

  &-main {
    padding: 3vw;
  }

  &-links-get-started {
    background-color: $light-gray;
    border-radius: 1.25rem;
    text-align: center;
    padding: 10vh 11vw;
  }
}

.navbar {
  background-color: $white;
  border: 1px solid $borders;
  border-radius: 1.25rem;
  padding: 1.25rem;

  &-link {
    color: $normal-gray;
    font-weight: $fw-semi-bold;
    transition: cursor 0.2s;

    &:not(:last-of-type) {
      margin-right: 2.1875rem;
    }

    &:hover {
      cursor: pointer;
    }

    &-active {
      background-color: $purple-hover-color;
      border-radius: 0.625rem;
      padding: 0.9375rem 1.875rem;

      .navbar-link {
        color: $purple;
        font-weight: $fw-bold;
      }

      svg path {
        fill: $purple;
      }
    }
  }
}

main {
  margin-top: 1.875rem;
}

.mockup {
  color: $normal-gray;
  text-align: center;
  font-size: 0.875rem;

  &-name {
    color: $dark-gray;
    font-weight: $fw-semi-bold;
  }

  &-image {
    border: 3px solid $purple;
    border-radius: 100%;
    margin-left: 50%;
    width: 6.25rem;
    height: 6.25rem;
    transform: translateX(-50%);
  }
}

.getting-started {
  color: $normal-gray;
  line-height: 1.5;
}

.link {
  &-rect {
    background-color: hsl(0, 0%, 93%);
    border-radius: 0.625rem;
    width: 14.8125rem;
    height: 2.75rem;
    padding: 0.625rem;

    span {
      color: $white;
      font-size: 0.875rem;
    }

    &-facebook,
    &-twitter {
      background-color: hsl(214, 89%, 52%);
    }

    &-instagram {
       background-color:  hsl(333, 68%, 50%);
    }

    &-youtube {
      background-color: hsl(352, 92%, 36%);
    }

    &-github {
      background-color: hsl(0, 0%, 0%);
    }
  }

  &-id {
    font-weight: $fw-bold;
  }

  &-form {
    margin-top: 1.25rem;
  }
}

.dialog {
  background-color: $light-gray;
  border-radius: 0.625rem;
  padding: 0.9375rem 1.25rem;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &-remove {
    cursor: pointer;
  }

  &-profile {
    padding: 3.75rem 1.875rem;

    &:not(:last-of-type) {
      margin-top: 3.125rem;
    }

    &-image-indicator {
      width: 13.125rem;
    }
  }
}

.drag-icon {
  margin-right: 0.3125rem;
  position: relative;
  bottom: 0.2188rem;
}

.button-image-upload {
  background-color: $purple-hover-color;
  border-radius: 0.625rem;
  cursor: pointer;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  width: 12.5rem;
  height: 12.5rem;

  &-indicator {
    font-weight: $fw-bold;

    &-purple {
      color: $purple;
    }

    &-white {
      color: $white;
    }
  }
}
