@import "util/variables";

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $light-gray;
    font-family: $font;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
}

// Helper Classes
.block {
    display: block;
}

.w {
    &-100 {
        width: 100%;
    }
}

// Flexbox
.flex {
    display: flex;

    &-40 {
        flex: 40%;
    }

    &-60 {
        flex: 60%;
    }

    &-gap {
        &-5 {
            gap: 0.3125rem;
        }
        
        &-10 {
            gap: 0.625rem;
        }

        &-15 {
            gap: 0.9375rem;
        }

        &-35 {
            gap: 2.1875rem;
        }
    }

    &-jc {
        &-c {
            justify-content: center;
        }

        &-fe {
            justify-content: flex-end;
        }

        &-sa {
            justify-content: space-around;
        }

        &-sb {
            justify-content: space-between;
        }
    }

    &-ai {
        &-c {
            align-items: center;
        }
    }

    &-fd {
        &-c {
            flex-direction: column;
        }
    }
}

span {
    color: $normal-gray;
}

// Button classes
.button {
    border: 1px solid $purple;
    border-radius: 0.625rem;
    font-family: $font;
    font-weight: $fw-bold;
    font-size: 1rem;
    margin: 1.875rem 0;
    padding: 0.9375rem 1.875rem;

    &-clear {
        background-color: $white;
        color: $purple;
        transition: background-color 0.2s, color 0.2s;

        &:not(.button-disabled):hover {
            background-color: $purple;
            color: $white;
        }
    }

    &-fill {
        background-color: $purple;
        color: $white;
        transition: background-color 0.2s, color 0.2s;

        &:not(.button-disabled):hover {
            background-color: $white;
            color: $purple;
        }
    }

    &-disabled {
        background-color: $purple-hover-color;
        border-color: $purple-hover-color;
    }

    &-add-link {
        display: block;
        width: 100%;
    }

    &-icon {
        margin-right: 0.3125rem;
    }

    &:not(.button-disabled):hover {
        cursor: pointer;
    }
}

.margin-none {
    margin: 0;
}

// Forms
label {
    color: $normal-gray;
    display: block;
    font-weight: $fw-semi-bold;
    font-size: 0.875rem;
}

input,
select {
    background-color: $white;
    border: 1px solid $borders;
    border-radius: 0.625rem;
    font-family: $font;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

input {
    display: block;
    font-size: 1rem;
}

select:hover {
    cursor: pointer;
}

option {
    font-size: 1rem;
}
