@import "../../util/variables";

.container {
  &-home {
    padding: 1.5%;
  }

  &-main {
    background-color: $white;
    border: 1px solid $borders;
    border-radius: 20px;
    padding: 3vw;
  }

  &-links-get-started {
    background-color: $light-gray;
    border-radius: 1.25rem;
    text-align: center;
    padding: 10vh 11vw;
  }
}

main {
  margin-top: 1.875rem;
}

.getting-started {
  color: $normal-gray;
  line-height: 1.5;
}
