// Colors
$purple: hsl(252, 100%, 62%);
$purple-hover-color: hsl(252, 100%, 84%);
$light-purple: hsl(252, 100%, 96%);
$normal-gray: hsl(0, 0%, 45%);
$dark-gray: hsl(0, 0%, 20%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$borders: hsl(0, 0%, 85%);
$violet: hsl(252, 100%, 84%);
$red: hsl(0, 100%, 61%);

// Typography
$font: "Instrument Sans", sans-serif;
$fw-reg: 400;
$fw-semi-bold: 600;
$fw-bold: 700;